/* BODY STYLE */
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: #d1dbe4;
  color: #fff;
}
/* PASSWORD DIV */
.password-container {
  background-color: #194a7a;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 10px;
}
/* INPUT DIV */
.input-container {
  border: solid 2px #fff;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.167);
}
/* INPUT  */
.input {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 24px;
  color: #fff;
  letter-spacing: 4px;
}

.input::placeholder {
  letter-spacing: 0px;
  color: #fff;
}
/* ICON STYLE */
.fa-copy {
  cursor: pointer;
  opacity: 0.3;
}

.fa-copy:hover {
  opacity: 0.7;
}
/* BUTTON */
.btn {
  background: #476f95;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 20px;
  cursor: pointer;
}
/* BUTTON HOVER */
.btn:hover {
  background-color: #a3b7ca;
  color: #476f95;
}
/* BUTTON ACTIVE */
.btn:active {
  transform: scale(0.95);
}
/* COPY TEXT DIV */
.alert-container {
  position: fixed;
  width: 300px;
  height: 50px;
  font-weight: 700;
  background-color: #aaffb8;
  color: #5b8c5a;
  right: 20px;
  bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: 0.4s;
}

.active.alert-container {
  right: -300px;
}